.button { margin-top:1.5em; }
.button a.magnificpopupvideo { display:inline-block; background:none; background-color:#ADB71F; border:none; color:white; padding:0.5em 2em; line-height:1; text-align:center; text-decoration:none; }
.button a.magnificpopupvideo i.fa { display:inline-block; margin-right:1em; }
.no-touch .button a.magnificpopupvideo:hover { position:relative; top:1px; left:1px; }