<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>
    Fluid Styled Content
</f:comment>

<f:layout name="Default" />

<f:section name="Main">
    <f:comment><f:debug>{_all}</f:debug></f:comment>

    <div class="magnificpopupvideo-container">
        <div class="ce-gallery">
            <f:for each="{gallery.rows}" as="row" iteration="rowIterator">
                <f:if condition="{rowIterator.isFirst}">
                    <f:for each="{row.columns}" as="column" iteration="colIterator">
                        <f:if condition="{colIterator.isFirst}">
                            <f:if condition="{column.media}">
                                <figure class="preview">
                                    <a href="{data.header_link}" class="magnificpopupvideo">
                                        <f:image image="{column.media}" width="{settings.preview.default.width}" height="{settings.preview.default.height}" alt="{column.media.alternative}" title="{column.media.title}" />
                                    </a>
                                </figure>

                                <f:if condition="{settings.showStartButton}">
                                    <div class="{settings.startButtonClass}">
                                        <a href="{data.header_link}" class="magnificpopupvideo">
                                            <i class="fa fa-play-circle"></i>Video starten
                                        </a>
                                    </div>
                                </f:if>

                            </f:if>
                        </f:if>
                    </f:for>
                </f:if>
            </f:for>
        </div>

        <f:if condition="{data.bodytext}">
            <div class="ce-bodytext">
                <f:format.raw>{data.bodytext}</f:format.raw>
            </div>
        </f:if>

    </div>

</f:section>

</html>
