<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">


<f:comment>
    CSS Styled Content
</f:comment>

<f:comment><f:debug>{_all}</f:debug></f:comment>

<f:if condition="{data.header_layout} != 100">
    <f:if condition="{data.header}">
        <f:if condition="{data.date}">
            <header>
        </f:if>

        <f:switch expression="{data.header_layout}">
            <f:case value="1">
                <h1>{data.header}</h1>
            </f:case>
            <f:case value="2">
                <h2>{data.header}</h2>
            </f:case>
            <f:case value="3">
                <h3>{data.header}</h3>
            </f:case>
            <f:case value="4">
                <h4>{data.header}</h4>
            </f:case>
            <f:case value="5">
                <h5>{data.header}</h5>
            </f:case>
            <f:case value="6">
                <h6>{data.header}</h6>
            </f:case>
            <f:case value="100">
                <f:comment> -- do not show header -- </f:comment>
            </f:case>
            <f:case default="true">
                <f:switch expression="{settings.defaultHeaderType}">
                    <f:case value="1">
                        <h1>{data.header}</h1>
                    </f:case>
                    <f:case value="2">
                        <h2>{data.header}</h2>
                    </f:case>
                    <f:case value="3">
                        <h3>{data.header}</h3>
                    </f:case>
                    <f:case value="4">
                        <h4>{data.header}</h4>
                    </f:case>
                    <f:case value="5">
                        <h5>{data.header}</h5>
                    </f:case>
                    <f:case value="6">
                        <h6>{data.header}</h6>
                    </f:case>
                    <f:case default="true">
                        <h2>{data.header}</h2>
                    </f:case>
                </f:switch>
            </f:case>
        </f:switch>

        <f:if condition="{data.date}">
            <p>
                <time datetime="{data.date -> f:format.date(format: '%Y-%m-%d')}">
                    <f:format.date format="%B %e, %Y">{data.date}</f:format.date>
                </time>
            </p>
            </header>
        </f:if>
    </f:if>
</f:if>

<div class="magnificpopupvideo-container">
    <div class="ce-gallery">
        <f:for each="{gallery.rows}" as="row" iteration="rowIterator">
            <f:if condition="{rowIterator.isFirst}">
                <f:for each="{row.columns}" as="column" iteration="colIterator">
                    <f:if condition="{colIterator.isFirst}">
                        <f:if condition="{column.media}">
                            <figure class="preview">
                                <a href="{data.header_link}" class="magnificpopupvideo">
                                    <f:image image="{column.media}" width="{settings.preview.default.width}" height="{settings.preview.default.height}" alt="{column.media.alternative}" title="{column.media.title}" />
                                </a>
                            </figure>

                            <f:if condition="{settings.showStartButton}">
                                <div class="{settings.startButtonClass}">
                                    <a href="{data.header_link}" class="magnificpopupvideo">
                                        <i class="fa fa-play-circle"></i>Video starten
                                    </a>
                                </div>
                            </f:if>

                        </f:if>
                    </f:if>
                </f:for>
            </f:if>
        </f:for>
    </div>

    <f:if condition="{data.bodytext}">
        <div class="ce-bodytext">
            <f:format.raw>{data.bodytext}</f:format.raw>
        </div>
    </f:if>

</div>


<f:if condition="{data.linkToTop}">
    <p>
        <a href="#" name="top"><f:translate key="toTop" /></a>
    </p>
</f:if>


</html>
